<div class="card mb-3">
    <img src="~/assets/img/@Model.ImageUrl" class="card-img-top" alt="@Model.Title" />
    <div class="card-body">
        <a href="#" class="btn btn-primary">
            @Model.Title
        </a>
        <p class="card-text"> @Model.Summary</p>
    </div>
</div>
